config = {
	'blacklist_word' : r"fuck|QUE|nsfw|sex|DECÍA|eek|buto|gago|lang|tai|eeq|gay|lgbt|lesbian|Tagalog|amor|hindi|ESO|putas|nude|daddy|sugardaddy|sugarmommy|bobo|talaga|tangina|putang|mga|salamat|sucks|porn|fucker|idiot|porn|dumb|whore|bitch|slut|dick|vagina|motherfucker|kontol|memek|lonte|tolol|goblok|tetek",
	'match_word' : r"imnayeon|nayeon|나연",
	'deleted_word' : r"^RT @([a-zA-Z0-9_]){1,20}:|^@([a-zA-Z0-9_]){1,20}|imnayeon|nayeon|나연|\bhttps://t.co/[-a-zA-Z0-9()@:%_\+.~#?&//=]*|@jypetwice|#protectnayeon",
	'anti_number_start_end' : r"^([0-9])|([0-9]+)$",
	'minimum_account_follower' : 200,
	'minimum_text_after_deleted_keyword' : 15,
	'language_allowed' : ['id', 'en', 'ja', 'ks', 'kg', 'tl'],
	'consumer_key': "",
	'consumer_secret': "",
	'access_token': "", 
	'access_token_secret': ""
}